<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Image Gallery</h2>
  <div class="row">
    {% for member in members %}
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="C:\\Users\\user\\Documents\\PythonWebProjectWithFlask\\static\\uploads\\{member.name}\\{member.img}" class="img-fluid" alt="" width="500px" height="20px">
        <div class="caption">
            <h2>{{member.member.name}}</h2>
            <h4>{{member.member.info}}</h4>
          </div>
      </div>
    </div>
    {% endfor %}
    <h4></h4>
  </div>
</div>

</body>
</html>


