{% extends 'admin/layout.html' %}
{% block content %}
    <!-- Members səhifəsindəki form -->
    <div class="card my-2">
        <div class="card-body">
          <div class="card-title"><h6>Add Member</h6></div>
            <p class="card-text">
                <form action="/admin/chefs" method="POST" enctype="multipart/form-data"> 
                    {{member.name(class_='form-control my-2',placeholder=' Name')}} 
                    {{member.profession(class_='form-control my-2',placeholder='Profession')}} 
                    {{member.img(class_='form-control my-2',placeholder='Img')}}
                    {{member.info(class_='form-control my-2',placeholder='info')}}
                    {{member.submit(class_='btn btn-primary',value='Add Member')}}
                </form>
            </p>
        </div>
    </div>

      <!-- Product səhifəsindəki Table -->
      <div class="card">
        <div class="card-body">
            <div class="card-title">Members Table</div>
            <div class="card-text">
                <table class="table table-success">
                    <caption>List of Members</caption>
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Profession</th>
                        <th scope="col">Img</th>
                        <th scope="col">Info</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for member in members%}
                      <tr>
                        <th scope="row">{{member.id}}</th>
                        <td>{{member.name}}</td>
                        <td>{{member.profession}}</td>
                        <td>{{member.img}}</td>
                        <td>{{member.info}}</td>
                        <td>
                          <a href="/admin/chefs/edit/{{member.id}}">Edit</a>
                          <a href="/admin/chefs/delete/{{member.id}}">Delete</a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
{% endblock %}