{% extends 'admin/layout.html' %}
{% block content %}

    <!-- Members səhifəsindəki form -->
    <div class="card my-2">
        <div class="card-body">
          <div class="card-title"><h6>Eloktron Siqaretlərin Əlavə Edilməsi</h6></div>
            <p class="card-text">
                <form action="/admin/chefs" method="POST" enctype="multipart/form-data"> 
                    {{member.name(class_='form-control my-2',placeholder=' Name')}} 
                    {{member.profession(class_='form-control my-2',placeholder='Profession')}} 
                    {{member.img(class_='form-control my-2',placeholder='Img')}}
                    {{member.info(class_='form-control my-2',placeholder='info')}}
                    {{member.submit(class_='btn btn-primary',value='Daxil Et')}}
                </form>
            </p>
        </div>
    </div>

      <!-- Product səhifəsindəki Table -->
      <div class="card">
        <div class="card-body">
            <div class="card-title">Eloktron Siqaretlərin Siyahısı</div>
            <div class="card-text">
                <table class="table table-success">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Ad</th>
                        <th scope="col">Qiymət</th>
                        <th scope="col">Şəkil</th>
                        <th scope="col">Dad</th>
                        <th scope="col">Əməliyyatlar</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for member in members%}
                      <tr>
                        <th scope="row">{{member.id}}</th>
                        <td>{{member.name}}</td>
                        <td>{{member.profession}}</td>
                        <td>{{member.img}}</td>
                        <td>{{member.info|safe}}</td>
                        <td>
                          <a  href="/admin/chefs/edit/{{member.id}}">Dəyiş</a>
                          <span >/</span>
                          <a style="color:red;" href="/admin/chefs/delete/{{member.id}}">Sil</a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
{% endblock %}