

<!-- Lahiyənin Menu bölməsinin kateqoriyalarının view hissəsi -->
{% extends 'admin/layout.html' %}
{% block content %}
    
<!-- Add Menu Items -->
<div class="card my-2">
    <div class="card-body">
      <div class="card-title"><h6> Pod Sistemlərin Edit Olunması</h6></div>
        <p class="card-text">
            <form action="/admin/pods/edit/{{query.id}}" method="POST">
                <select name="category" id="">
                    <option value="#">Choose Category</option>
                {% for category in menu_categories %}
                    <option value="{{category.id}}">{{category.name}}</option>
                {% endfor %}
                </select>
                {{myForms.price(class_='form-control my-2',placeholder='Price',value=query.price)}}
                {{myForms.info(class_='form-control my-2',placeholder='Info',value=query.info)}}
                {{myForms.info2(class_='form-control my-2',placeholder='Info2',value=query.info2)}}
                {{myForms.submit(class_='btn btn-danger')}}
            </form>
        </p>
    </div>
</div>  






<!-- Menu Items Table -->

{% endblock %}