<!-- Admin hissəsinə daxil olduqda açılacaq səhifə -->
{% extends "admin/layout.html" %}

{%block content%}
<h3>This is Admin panel. Current Admin : {{user.name}}</h3>
<h2>{{x}}</h2>
<div class="card">
    <div class="card-body">
        <div class="card-title">Testimonials Table</div>
        <div class="card-text">
            <table class="table table-success">
                <caption>List of Testimonials</caption>
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                    {% for user in users%}
                  <tr>
                    <th scope="row">{{user.id}}</th>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>
                      <a href="/admin/user/approve/{{user.id}}" class="btn stretched-link">Approve</a>
                      <a href="/admin/user/reject/{{user.id}}" class="btn stretched-link">Reject</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>
{%endblock%}
