{% extends 'admin/layout.html' %}
{% block content %}
    <!-- MembersImg səhifəsindəki form -->
    <div class="card my-2">
        <div class="card-body">
          <div class="card-title"><h6>Add Member Image</h6></div>
            <p class="card-text">
                <form action="/admin/chefs/images" method="POST" enctype="multipart/form-data"> 
                    <select name="category" id="">
                      <option value="">Choose Member</option>
                      {% for member in members %}
                      <option value="{{member.id}}">{{member.name}}</option>
                      {% endfor %}
                    </select>
                    {{memberForm.img(class_='form-control my-2',placeholder=' Name')}} 
                    {{memberForm.submit(class_='btn btn-primary',value='Add Member')}}
                </form>
            </p>
        </div>
    </div>

      <!-- Product səhifəsindəki Table -->
      <div class="card">
        <div class="card-body">
            <div class="card-title">Members Images Table</div>
            <div class="card-text">
                <table class="table table-success">
                    <caption>List of Members Images</caption>
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for memberImg in memberImgs%}
                      <tr>
                        <th scope="row">{{memberImg.id}}</th>
                        <td>{{memberImg.name}}</td>
                        <td>
                          <a href="/admin/chefs/edit/{{memberImg.id}}">Edit</a>
                          <a href="/admin/chefs/delete/{{memberImg.id}}">Delete</a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
{% endblock %}