<!-- Lahiyənin Menu bölməsinin kateqoriyalarının view hissəsi -->
{% extends 'admin/layout.html' %}
{% block content %}
    

<!-- Menu səhifəsindəki form -->
<div class="card my-2">
    <div class="card-body">
      <div class="card-title"><h6>Kateqoriyaların Əlavə Edilməsi</h6></div>
        <p class="card-text">
            <form action="/admin/menu" method="POST">
                {{myForm.name(class_='form-control my-2',placeholder='Kateqoriya Əlavə Et')}}
                {{myForm.submit(class_='btn btn-primary')}}
            </form>
        </p>
    </div>
</div>

  <!-- Menu səhifəsindəki Table -->
  <div class="card">
    <div class="card-body">
        <div class="card-title">Kateqoriyalar cədvəli</div>
        <div class="card-text">
            <table class="table table-success">
                <caption>Kateqoriya siyahısı</caption>
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Ad</th>
                    <th scope="col">Əməliyyatlar</th>
                  </tr>
                </thead>
                <tbody>
                    {% for category in categories%}
                  <tr>
                    <th scope="row">{{category.id}}</th>
                    <td>{{category.name}}</td>
                    <td>
                      <a style="color:red;" href="/admin/menu/delete/{{category.id}}" onclick="myFunction()"><strong> Sil </strong></a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>
<script>
  function myFunction() {
    confirm('Kateqoriyanı silsəniz həmin kateqoriyaya məxsus bütün məhsullar silinəcəkdir!')
  }
  </script>
{% endblock %}

