{% extends 'admin/layout.html' %}
{% block content %}
<!-- Product səhifəsindəki form -->
    <div class="card my-2">
        <div class="card-body">
          <div class="card-title"><h6>Add Product</h6></div>
            <p class="card-text">
                <form action="/admin/product" method="POST">
                    {{products.productName(class_='form-control my-2',placeholder='Product Name')}} 
                    {{products.productPrice(class_='form-control my-2',placeholder='Product Price')}}
                    {{products.productInfo(class_='form-control my-2',placeholder='Product Info')}}
                    {{products.productSub(class_='btn btn-primary',value='Add Product')}}
                </form>
            </p>
        </div>
    </div>
  <!-- Product səhifəsindəki Table -->
    <div class="card">
        <div class="card-body">
            <div class="card-title">Product Table</div>
            <div class="card-text">
                <table class="table table-success">
                    <caption>List of Product</caption>
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Product Price</th>
                        <th scope="col">Info</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for data in data%}
                      <tr>
                        <th scope="row">{{data.id}}</th>
                        <td>{{data.productName}}</td>
                        <td>{{data.productPrice}}</td>
                        <td>{{data.producutInfo}}</td>
                        <td>
                          <a href="/admin/product/edit/{{data.id}}">Edit</a>
                          <a href="/admin/product/delete/{{data.id}}">Delete</a>
                          <a href="/admin/product/details/{{data.id}}">Details</a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
{% endblock %}