<!-- Lahiyənin Testimonials bölməsinin View hissəsinin yazılması -->
{% extends 'admin/layout.html' %}
{% block content %}
<!-- Lahiyənin Testimonials bölməsi Form -->

<div class="card">
    <div class="card-body">
        <div class="title">
            <h5>Mağazaların əlavə edilməsi</h5>
        </div>
        <div class="card-text">
            <form action="/admin/shops" method="POST"  enctype="multipart/form-data">
                {{myForm.name(class_=('form-control my-2'),placeholder='Ad əlavə et')}}
                {{myForm.location(class_=('form-control my-2'),placeholder='Ünvanı əlavə et')}}
                {{myForm.time(class_=('form-control my-2'),placeholder='Vaxt əlavə et')}}  
                {{myForm.wpLink(class_=('form-control my-2'),placeholder='Wp linkini əlavə et')}}
                {{myForm.instaLink(class_=('form-control my-2'),placeholder='Instagram linki əlavə et')}}
                {{myForm.map(class_=('form-control my-2'),placeholder='Google map əlavə et')}}         
                {{myForm.order(class_=('form-control my-2'),placeholder='Order')}}
                <div class="form-check">
                    {{myForm.is_active(class_=('form-check-input'))}}
                    <label class="form-check-label" for="flexCheckDefault">
                        <span><b>Səhifədə aktiv edilsinmi?</b></span>
                    </label>
                  </div>
                  {{myForm.submit(class_='form-control my-2 btn btn-success')}}
            </form>
        </div>
    </div>
</div>

  <!-- Testimonials hissəsinin Table -->

<div class="card">
    <div class="card-body">
        <div class="card-title">Qeydə alınmış mağazalar</div>
        <div class="card-text">
            <table class="table table-success">
                <caption>List of Testimonials</caption>
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Ad</th>
                    <th scope="col">Əməliyyatlar</th>
                  </tr>
                </thead>
                <tbody>
                    {% for data in data%}
                  <tr>
                    <th scope="row">{{data.id}}</th>
                    <td>{{data.name}}</td>
                    <td>
                      <a style="color:blue;" href="/admin/shops/edit/{{data.id}}" class="btn stretched-link">Dəyiş</a>
                      <a style="color:red;" href="/admin/shops/delete/{{data.id}}" class="btn stretched-link">Sil</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>
{% endblock %}